<!--
<mat-toolbar>
  <span>ONLINE WEB SHOP</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon shopping-cart" aria-label="Example icon-button with heart icon">
    <mat-icon>shopping-cart</mat-icon>
  </button>
</mat-toolbar>
-->
<div class="topnav">
  <a [routerLink]="'/home'">Online Webshop</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="shopping-cart" aria-label="Example icon-button with heart icon" [routerLink]="'/cart'">
    <span class="material-icons">
      shopping_cart
    </span>
  </button>
</div>
