/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
  height: 60px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.mat-icon-button {
  float: right;
  color: white;
  margin: 8px 30px;

}

mat-icon {
  font-size: 30px;
}
