<app-banner></app-banner>
<div class="best-products-container">
  <h1>Best products</h1>
</div>
<mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-product-item class="product"></app-product-item>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-product-item class="product"></app-product-item>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-product-item class="product"></app-product-item>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-product-item class="product"></app-product-item>
  </mat-grid-tile>
</mat-grid-list>
