<app-banner></app-banner>
<div class="confirmation-content">
  <div class="confirmation-header">
    <h2>Confirmation</h2>
  </div>
  <div class="row">
    <div class="col-1-2">
      <div class="cart-container" *ngFor="let order of cartOrders">
        <app-confirmation-item [cartItem]="order"></app-confirmation-item>
      </div>
    </div>
    <div class="col-1-2">
      <h3>Order Details</h3>
      <p><span>Order Number: </span>{{order.id}}</p>
      <p><span>Tracking Number: </span>123-123-123-123</p>
      <h3>Personal Details</h3>
      <p><span>E-Mail: </span>{{order.emailAddress}}</p>
      <p><span>Street Address:</span>{{checkoutInfo.streetAddress}}</p>
      <h3>Payment Details</h3>
      <p><span>Credit Card Number: </span>{{checkoutInfo.creditCardNumber}}</p>
      <p><span>Expires:</span>{{checkoutInfo.creditCardMonth}} {{checkoutInfo.creditCardYear}}</p>
    </div>
  </div>
</div>


